<%= form_for :application, remote: true, url: applications_path, :html => {:id => "new_application"} do |f| %>
  <p>I applied at <%= f.text_field :company, :placeholder => "comapny name" %> for the <%= f.text_field :position, :placeholder => "position" %> position on <%= f.date_field :applied_on, :value => Time.now.strftime("%Y-%m-%d") %>.</p>
  <p>I heard about it from <%= f.text_field :refer, :placeholder => "someone" %> on <%= f.date_field :found_on, :value => Time.now.strftime("%Y-%m-%d") %>.</p>
  <div class="actions">
    <%= f.submit "Add New Application" %>
  </div>
<% end %>