<h1>New Application</h1>

<%= form_for :application, url: applications_path do |f| %>
  <p>
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :applied_on %><br>
    <%= f.date_select :applied_on %>
  </p>
  <p>
    <%= f.label :refer %><br>
    <%= f.text_field :refer %>
  </p>
  <p>
    <%= f.label :found_on %><br>
    <%= f.date_select :found_on %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p><%= link_to 'Back', applications_path %></p>
