<p>
  <strong>Company:</strong>
  <%= @application.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @application.position %>
</p>

<p>
  <strong>Applied on:</strong>
  <%= @application.applied_on %>
</p>

<p>
  <strong>Refer:</strong>
  <%= @application.refer %>
</p>

<p>
  <strong>Found on:</strong>
  <%= @application.found_on %>
</p>
<p><%= link_to 'Back', applications_path %></p>
