<p>
  I applied at 
  <strong><%= @application.company %></strong> 
  for the <strong><%= @application.position %></strong> position on
  <strong><%= @application.applied_on %></strong>
</p>
<% unless @application.refer.empty? %>
<p>
  I heard about it from 
  <strong><%= @application.refer %></strong> on
  <strong><%= @application.found_on %></strong>.
</p>
<% end %>
<p><%= link_to 'Back', applications_path %></p>
<p><%= link_to 'Edit', edit_application_path(@application) %></p>
<p><%= link_to 'Destroy', application_path(@application), method: :delete, data: { confirm: 'Are you sure?' } %></p>
